@*-----------------------------------------------------------------------------
// FILE:	    App.razor
// CONTRIBUTOR: Marcus Bowyer
// COPYRIGHT:   Copyright (c) 2005-2022 by neonFORGE LLC.  All rights reserved.*@

@inject NavigationManager UriHelper

<CascadingAuthenticationState>
  <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
      <Found Context="routeData">
          <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                   <NotAuthorized>
                       <RedirectToSignin />
                   </NotAuthorized>
                   <Authorizing>
                       <main class="w-screen h-screen place-items-center">
                        <p class="text-5">Loading... </p>

                      </main>
                   </Authorizing>
               </AuthorizeRouteView>
      </Found>
      <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
              <main class="w-screen h-screen place-items-center">
                <p class="text-7">Page not found! </p>

              </main>
          </LayoutView>
      </NotFound>
  </Router>
  <NavigationTracker />
</CascadingAuthenticationState> 