@*-----------------------------------------------------------------------------
// FILE:	      DropUp.razor
// CONTRIBUTOR: Marcus Bowyer, Simon Zhang
// COPYRIGHT:   Copyright © 2005-2023 by NEONFORGE LLC.  All rights reserved.*@

<div class="dropup__wrapper relative" @onmouseenter="MouseIn" @onmouseleave="MouseOut">
    <div class="dropup__button" @onclick="Show">
        <Icon Content=@Icon />
        <div class="noselect name">
            <p>@Title</p>
            <h3>@((Active != null) ? Active.Name : "Loading")</h3>
        </div>
        <Icon Content=@Icons.ChevronUp />
    </div>
    
    <div class="absolute menu @(HideMenu ? "hide" : "")">
        <div class="menu-header button__icon" @onmouseout:stopPropagation>
            <Icon Content=@Icon />
            <h3>@Title</h3>
        </div>
        @foreach (var item in Items)
      {
          if (DropList is not null)
          {
              <div class="button button__icon" @onmouseout:stopPropagation @onclick="@(() => NavigationManager.NavigateTo(item.GetId()))">
                  <h3>@item.GetName()</h3>
                  @if (item.GetId() == AppState.CurrentDashboard)
                  {
                      <div style="right: 20px;position: absolute;">
                          <Icon Content=@Icons.Check />
                          </div>
                  }
                  </div>
          }
      }
      </div>
</div>