@*-----------------------------------------------------------------------------
// FILE:	      LoadingCircle.razor
// CONTRIBUTOR: Simon Zhang
// COPYRIGHT:   Copyright © 2005-2022 by NEONFORGE LLC.  All rights reserved.*@

<div class="w-full relative z-0">
  <svg viewBox="0 0 36 36" class=" absolute z-[-1] @BackgroundColor">
    <path class="circle_bg"
      d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
      fill="none"
      stroke="currentColor"
      stroke-width="@(Width)"
      />
  </svg>
  <svg viewBox="0 0 36 36" class="	 @(Color)">
    <path class="circle_animation"
      d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
      fill="none"
      stroke="currentColor"
      stroke-width="@(Width)"
      stroke-dasharray="@(Math.Round(100 *Progress)), 100"

      />
  </svg>
  <div class="w-full h-full grid place-items-center absolute top-[0] left-[0]">
    @ChildContent
  </div>
  </div>