@*-----------------------------------------------------------------------------
// FILE:	    Index.razor
// CONTRIBUTOR: Marcus Bowyer
// COPYRIGHT:   Copyright (c) 2005-2022 by neonFORGE LLC.  All rights reserved.*@

@page "/neonkube"
@inherits PageBase

<PageBase PageTitle="@PageTitle" />
<div class="container w-screen grid grid-cols-12 gap-3 mt-5"> 

</div>

<div class="container w-screen grid grid-cols-12 gap-3">
  <section class="col-span-8 space-y-2">
    <div>
    <label class="text-4 text-slate-300 font-bold" >
        Current Cluster
    </label>
     <h1 class="text-8 mt-[-0.5rem] leading-tight">@clusterInfo.Name</h1>

    </div>
    <div class="flex space-x-4">
      @if (clusterMetaData != null) {
        foreach (KeyValuePair<string, string> data in clusterMetaData)
      {
      <div>
        <label class="text-2 text-slate-300" >
          @data.Key
        </label>
        <p class="font-bold leading-tight">@data.Value</p>
      </div> 
      }
      }

  
    </div>
   
      <p>CreationTimestamp: @clusterInfo.CreationTimestamp</p>
           @if (AppState.Kube.Nodes != null)
      {
        <table>
            <tr>
              <td>Name</td>
              <td>Status</td>
            </tr>
            <tr>
               <td>Total Nodes</td>
               <td>@(AppState.Kube?.TotalNodes)</td>
            </tr>
            <tr>
               <td>Active Nodes</td>
               <td>@(AppState.Kube?.ActiveNodes)</td>
            </tr>
            <tr>
               <td>Failed Nodes</td>
               <td>@(AppState.Kube?.FailedNodes)</td>
            </tr>
        </table>
      }
  </section>

   <div class="col-start-10 col-end-[-1]">
     <Alerts />
  </div>
 




</div>

@if (memoryChartConfig != null)
{

    <div id="header" style="width:500px;">
        <Chart Config="memoryChartConfig" @ref="memoryChart"></Chart>
    </div>
}

@if (cpuChartConfig != null)
{
    <div id="header" style="width:500px;">
        <Chart Config="cpuChartConfig" @ref="cpuChart"></Chart>
    </div>
}

@if (diskChartConfig != null)
{
    <div id="header" style="width:500px;">
        <Chart Config="diskChartConfig" @ref="diskChart"></Chart>
    </div>
}

