@*-----------------------------------------------------------------------------
// FILE:	    Index.razor
// CONTRIBUTOR: Marcus Bowyer
// COPYRIGHT:   Copyright (c) 2005-2022 by neonFORGE LLC.  All rights reserved.*@

@page "/neonkube"
@inherits PageBase

<PageBase PageTitle="@PageTitle" />

<h1 class="font-sans text-5">uwu neonkube!</h1>

<p>Name: @clusterInfo.Name</p>
<p>Version: @clusterInfo.ClusterVersion</p>
<p>DataCenter: @clusterInfo.Datacenter</p>
<p>Hosting Environment: @clusterInfo.HostingEnvironment</p>
<p>Domain: @clusterInfo.Domain</p>
<p>CreationTimestamp: @clusterInfo.CreationTimestamp</p>
<p>Environment: @clusterInfo.Environment</p>


@if (AppState.Kube.Nodes != null)
{
  <table>
      <tr>
        <td>Name</td>
        <td>Status</td>
      </tr>
      <tr>
         <td>Total Nodes</td>
         <td>@(AppState.Kube?.TotalNodes)</td>
      </tr>
      <tr>
         <td>Active Nodes</td>
         <td>@(AppState.Kube?.ActiveNodes)</td>
      </tr>
      <tr>
         <td>Failed Nodes</td>
         <td>@(AppState.Kube?.FailedNodes)</td>
      </tr>
  </table>
}

