@*-----------------------------------------------------------------------------
// FILE:	    Index.razor
// CONTRIBUTOR: Marcus Bowyer
// COPYRIGHT:   Copyright (c) 2005-2022 by neonFORGE LLC.  All rights reserved.*@

@page "/{currentDashboard?}"
@inherits PageBase

<PageBase PageTitle="@PageTitle" />
<CascadingValue Value="@CurrentDashboard" Name="CurrentDashboard" />

@if (AppState.DashboardFrames != null)
{
  <div class="dashboard-container">
  @foreach (var dashboard in AppState.DashboardFrames)
  {
      <Dashboard Id="@dashboard.Id" Name="@dashboard.Name" Url="@dashboard.Url" />
  }
  </div> 
}
